/* to mirror the video */
#myVidPlayer {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

#myVidPlayer {
    /* width: 100%; */
    max-width: 90%;
    height: auto;
    max-height: 60vh;
    margin: 2px;

    border-radius: 10px;
}

#videoDiv {
    text-align: center;
}

#audioDiv{
    margin: 30px 50px;
}

.form-select {
    margin-bottom: 0;
}

.container>div{
    margin-bottom: 20px;
}
